<!-- Sidenav -->
{{>side-nav}}

<aside class="toast-view js-toast-view"></aside>

<!-- Loading Dialog For use by Activities -->
<div class="loader js-global-loader is-hidden">
	<svg viewBox="0 0 32 32" width="32" height="32">
    <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
  </svg>
</div>

{{> async-css }}




<!-- Load browser pollyfills -->
<script>
	(function() {
		'use strict';
		function lazyLoadWCPolyfillsIfNecessary() {
			var onload = function() {
				if (!window.HTMLImports) {
					document.dispatchEvent(
						new CustomEvent('WebComponentsReady', {
							bubbles: true
						}));
				}
			};

			var webComponentsSupported = (
				'registerElement' in document &&
				'import' in document.createElement('link') &&
				'content' in document.createElement('template'));
			if (!webComponentsSupported) {
				var script = document.createElement('script');
				script.async = true;
				script.src = 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.0.10/webcomponents-lite.js';
				script.onload = onload;
				document.head.appendChild(script);
			} else {
				onload();
			}
		}
		lazyLoadWCPolyfillsIfNecessary();
	})();
</script>

<!-- Remote scripts defined in paths -->
{{#each data.remoteScripts}}
	<script src="{{this}}" async></script>
	{{~/each}}


	<!-- Remote imports defined in paths -->
	{{#each data.remoteImports}}
		<link rel="import" href="{{this}}" /> {{~/each}}


		</body>

		</html>
