<!-- Sidenav -->
{{>side-nav}}

<aside class="toast-view js-toast-view"></aside>

{{> async-css }}


{{#each data.remoteScripts}}
  <script src="{{this}}" async></script>
{{~/each}}
{{#each data.remoteImports}}
  <link rel="import" href="{{this}}" async/>
{{~/each}}
</body>
</html>
