<div class="card">
  <h1>Index</h1>
  <p>
    This is the index view of the application-shell.
  </p>
  <p>
    The application shell is a lightweight application that handles rendering the view with
    inline CSS and async scripts. The contents are cached using Service Workers (where supported).
  </p>
</div>
