<link rel="import" href="bower_components/px-layout/px-layout.html">
<dom-module id="x-app">
    <style include="px-layout-css">
         :host {
            display: block;
        }
    </style>
    <template>
    <px-drawer-layout>
      <px-drawer fixed>
        <div class="u-p">
          drawer content
        </div>
      </px-drawer>
      <section content>
        <px-header title="Micro App" subtitle="application-shell" username="John Sinclair"></px-header>
        <div class="u-p">
          <px-title-bar title="Section Title">
              <px-button modifier="tertiary">Action 1</px-button>
              <px-button modifier="tertiary">Action 2</px-button>
          </px-title-bar>
          <div class="card">
            <h1>{&#123;title}}</h1>
            {{debug}}
            <p>
              This content is wrapped in a <code>template</code> element.
            </p>
            <p>
              Since this is a handlebars template and <code>{{ test}}</code> is needed. I used <code>&#123;</code>
            </p>
          </div>
        </div>
      </section>
    </px-drawer-layout>
  </template>
</dom-module>
<template id="micro-app-1" is="dom-bind">
  <x-app id="xapp"></x-app>
</template>
<script type="text/javascript">
  document.addEventListener('WebComponentsReady', function(e) {
    Polymer({
        is: 'x-app',
        created: function() {
            console.warn(this.tagName, 'created');
        },
        attached: function() {
            console.warn(this.tagName, 'attached');
        }
    });
      console.log('WebComponentsReady');
      var app = document.querySelector('#micro-app-1');
      app.set('title', 'Micro App 1');
      app.addEventListener('dom-change', function() {
          console.warn('auto-binding template is ready.');
      });
  });
</script>
