<dom-module id="x-app">


    <template strip-whitespace>
    <style include="px-layout-css">
        .predixio {
            background: #eaeaea;
            margin: 0;
        }

        px-header px-brand:first-child {}

        px-header .c-header__title {
            color: #333 !important;
        }

        px-card {
            flex: 1 0 300px;
        }

        .tiles px-card {
            border: 1px solid #2886af;
            margin-top: 1rem;
            position: relative;
            margin-right: 0.5rem;
        }

        .tiles px-card:last-of-type {
            margin-right: 0;
        }

        .tiles px-card .px-card-header {
            height: 3rem;
            border: none;
            overflow: hidden;
            padding: 0;
            margin: 0 !important;
            display: flex;
            align-items: center;
        }

        .tiles px-card:after {
            overflow: hidden;
            position: absolute;
            top: -6px;
            right: -14px;
            width: 38px;
            height: 23px;
            transform: rotate(45deg);
            border-bottom: 1px solid #2886af;
            background-color: #eaeaea;
            content: '';
        }

        px-header {
            background: #eaeaea;
            border-bottom: 1px solid #d8d8d8;
            box-shadow: 0 1px 0 0 #fff;
            color: #000;
            margin-bottom: 5px;
        }

        px-header nav a {
            color: #333 !important;
            padding: 0 1rem;
            font-size: 1rem;
            font-weight: bold;
            white-space: nowrap;
        }

        nav .active {
            color: #2886af !important;
        }

        px-header .spacer {
            width: 25%;
            text-align: center;
        }

        .theta {
            font-size: 1rem;
            line-height: 1.25;
            font-weight: 700;
            text-transform: uppercase;
        }
    </style>

    <app-route id="router" pattern="/:view" route="{&#123;route}}" data="{&#123;routeData}}"></app-route>
<!--
      <div class="flex flex--spaced u-p-">
        <span>Pattern: <input is="iron-input" type="text" bind-value="{&#123;pattern}}"></span>
        <span>Path: <input is="iron-input" type="text" bind-value="{&#123;route.path}}"></span>
      </div>
    -->
    <px-header-layout id="layout" class="predixio" full-width>
        <px-header class="u-p" title="Developer Network" bare>
          <div brand>
            <px-brand predix-wordmark height="20" width="100"></px-brand>
          </div>
          <div class="flex flex--middle flex--right" right>
            <nav class="flex flex--middle hidden-sm-down">
              <a href="#/catalog" class="active">Catalog</a>
              <a href="#/resources">Resources</a>
              <a href="#/community">Community</a>

              <span class="spacer flex flex--center flex--middle">|</span>
              <a href="#Sign in">Sign in</a>
            </nav>
            <button class=" btn--transparent" drawer-toggle>
              <px-icon icon="fa:fa-bars"></px-icon>
            </button>
          </div>
        </px-header>

        <px-drawer id="sidedrawer" fixed overlay align="right">
          <div class="flex flex--center flex--middle u-p-">
            <px-brand size="48" predix></px-brand>
          </div>
          <aside class="u-p">
            Side navigation
          </aside>
        </px-drawer>

        <iron-pages id="pages" selected="{&#123;routeData.view}}" attr-for-selected="data-route" fallback-selection="catalog">
          <div data-route="catalog">
            <section class="u-ph tiles flex flex--wrap">
              <px-card header-text="Blobstore" class="tile">
                <p class="u-m0 u-p0">Use this binary large object storage (BLOB) to securely store large byte arrays.</p>
                <div class="u-pt">
                  <img src="https://www.predix.com/sites/default/files/catalog_4p_new_logo.png" alt="Predix Logo" height="30" />
                </div>
              </px-card>
              <px-card header-text="Asset Data" class="tile">
                <p class="u-m0 u-p0">Create and store machine asset mdoels and instances.</p>
                <div class="u-pt">
                  <img src="https://www.predix.com/sites/default/files/catalog_4p_new_logo.png" alt="Predix Logo" height="30" />
                </div>
              </px-card>
              <px-card header-text="Time Series" class="tile">
                <p class="u-m0 u-p0">Quickly and efficiently manage, ingest, store, and analyze data.</p>
                <div class="u-pt">
                  <img src="https://www.predix.com/sites/default/files/catalog_4p_new_logo.png" alt="Predix Logo" height="30" />
                </div>
              </px-card>

            </section>
          </div>

          <div data-route="resources">
            <h2>Resources</h2>
          </div>
          <div data-route="community">
            <h2>Community</h2>
          </div>

        </iron-pages>


      </px-header-layout>

  </template>
</dom-module>
<template id="micro-app-1" is="dom-bind">
  <app-location id="location" use-hash-as-path route="{&#123;route}}"></app-location>
  <x-app id="xapp" route="{&#123;route}}"></x-app>
</template>
<script type="text/javascript">
    document.addEventListener('WebComponentsReady', function(e) {
        Polymer({
            is: 'x-app',
            properties: {
              route: {
                type: Object,
                value: function(){
                  return {

                  };
                }
              },
              pattern:{
                type: String,
                value: function(){
                  return '/:view'
                }
              },
              routeData: {
                type: Object,
                value: function(){
                  return {};
                }
              },
            },
            created: function() {
                console.warn(this.tagName, 'created');
            },
            attached: function() {
                console.warn(this.tagName, 'attached');
                if(!this.route.path){
                  this.set('route.path', '/');
                }
            }
        });
        console.log('WebComponentsReady');
        var app = document.querySelector('#micro-app-1');
        app.set('title', 'Micro App 1');
        app.addEventListener('dom-change', function() {
            console.warn('auto-binding template is ready.');
        });
    });
</script>
